[Desktop Entry]
Type=Application
Name=Instalador de pacotes .deb
Comment=Instala arquivos .deb avulsos com confirmação e barra de progresso
Exec=/opt/tarsila-store/bin/tarsila-deb-gui.py %f
Icon=package-x-generic
Terminal=false
NoDisplay=true
MimeType=application/vnd.debian.binary-package;
Categories=System;PackageManager;
