[Desktop Entry]
StartupNotify=true
Type=Application
Name=Configuração
Comment=Painel de configuração Tarsila
Exec=/usr/local/bin/tarsila-abrindo tarsila-config
Icon=/usr/share/tarsila/icons/configuracao.png
Terminal=false
Categories=Settings;
StartupWMClass=tarsila-config
