[Desktop Entry]
Actions=tirar-dock;desinstalar;
StartupNotify=true
Type=Application
Name=OBS Studio
Comment=Gravar a tela e a câmera
Exec=/usr/local/bin/tarsila-abrindo /usr/local/bin/tarsila-obs
Icon=com.obsproject.Studio
Terminal=false
Categories=AudioVideo;Recorder;
StartupWMClass=obs
X-Package=obs-studio

[Desktop Action tirar-dock]
Name=Tirar do Dock
Exec=/usr/local/bin/tarsila-dock-item.sh remove /usr/share/tarsila/applications/obs-tarsila.desktop

[Desktop Action desinstalar]
Name=Desinstalar
Exec=/usr/local/bin/tarsila-app-uninstall.sh /usr/share/tarsila/applications/obs-tarsila.desktop
