[Desktop Entry]
Type=Application
Version=1.0
Name=Rede
Comment=Ver e trocar a conexão
Icon=network-workgroup
Exec=/usr/local/bin/tarsila-barra-menu rede
Terminal=false
StartupNotify=false
NoDisplay=true
Categories=System;
X-Tarsila-Indicador=true
