[Desktop Entry]
Type=Application
Name=Tarsila Store
GenericName=Loja de Aplicativos
Comment=Instale apps e jogos com um clique
Exec=/usr/local/bin/tarsila-abrindo /opt/tarsila-store/bin/tarsila-store-launcher.sh
Icon=tarsila-store
Categories=System;PackageManager;
Terminal=false
StartupNotify=true
