[Desktop Entry]
Actions=tirar-dock;desinstalar;
StartupNotify=true
Type=Application
Name=VLC
Comment=VLC media player
Exec=/usr/local/bin/tarsila-abrindo /usr/bin/vlc --started-from-file %U
Icon=vlc
Terminal=false
Categories=AudioVideo;Player;

[Desktop Action tirar-dock]
Name=Tirar do Dock
Exec=/usr/local/bin/tarsila-dock-item.sh remove /usr/share/tarsila/applications/vlc-tarsila.desktop

[Desktop Action desinstalar]
Name=Desinstalar
Exec=/usr/local/bin/tarsila-app-uninstall.sh /usr/share/tarsila/applications/vlc-tarsila.desktop
