[Desktop Entry]
Actions=tirar-dock;desinstalar;
Name[af]=Quadrapassel
Name[ar]=كوادراباسيل
Name[ast]=Quadrapassel
Name[be]=Quadrapassel
Name[bg]=Четрис
Name[bn]=Quadrapassel
Name[bs]=Quadrapassel - varijanta Tetrisa
Name[ca]=Quadrapassel
Name[ca@valencia]=Quadrapassel
Name[cs]=Quadrapassel
Name[da]=Quadrapassel
Name[de]=Quadrapassel
Name[el]=Τουβλάκια
Name[en_CA]=Quadrapassel
Name[en_GB]=Quadrapassel
Name[eo]=Kvadrapaselo
Name[es]=Quadrapassel
Name[et]=Quadrapassel
Name[eu]=Quadrapassel
Name[fa]=کوادراپاسل
Name[fi]=Quadrapassel
Name[fr]=Quadrapassel
Name[fur]=Quadrapassel
Name[gl]=Quadrapassel
Name[he]=קוודראפאזל
Name[hr]=Tetris
Name[hu]=Quadrapassel
Name[id]=Quadrapassel
Name[it]=Quadrapassel
Name[ja]=Quadrapassel
Name[kk]=Quadrapassel
Name[km]=Quadrapassel
Name[kn]=ಕ್ವಾಡ್ರಾಪಾಸಲ್
Name[ko]=쿼드러패셀
Name[lt]=Quadrapassel
Name[lv]=Quadrapassel
Name[mk]=Quadrapassel
Name[ms]=Quadrapassel
Name[nb]=Quadrapassel
Name[nl]=Quadrapassel
Name[nn]=Quadrapassel
Name[oc]=Quadrapassel
Name[pa]=ਕੁਆਡਰਾਪੱਸੀਲ
Name[pl]=Quadrapassel
Name[pt]=Quadrapassel
Name[pt_BR]=Quadrapassel
Name[ro]=Quadrapassel
Name[ru]=Quadrapassel
Name[sk]=Quadrapassel
Name[sl]=Kvadetris
Name[sr]=Четворка
Name[sr@latin]=Četvorka
Name[sv]=Quadrapassel
Name[ta]=க்வாட்ரபாசல்
Name[te]=quadrapassel
Name[th]=Quadrapassel
Name[tr]=Quadrapassel
Name[ug]=Quadrapassel
Name[uk]=Квадрапасл
Name[zh_CN]=俄罗斯方块
Name[zh_HK]=俄羅斯方塊
Name[zh_TW]=俄羅斯方塊
Name=Quadrapassel
Comment[af]=Pas vallende blokke bymekaar
Comment[ar]=ملائمة القوالب المتساقطة بعضها لبعض
Comment[as]=পড়ন্ত ব্লকগুলোকে একত্ৰে ৰাখো
Comment[ast]=Encaxa los bloques que caen
Comment[az]=Düşən bloku bərabər tut
Comment[be]=Дапасуй спадальныя блокі адзін да аднаго
Comment[bg]=Нареждане на падащи блокчета
Comment[bn]=পড়ন্ত ব্লকগুলোকে একত্রে রাখা হবে
Comment[bn_IN]=পড়ন্ত ব্লকগুলোকে একত্রে রাখো
Comment[bs]=Sastavljaj padajuće blokove
Comment[ca]=Col·loqueu junts els blocs que caiguin
Comment[ca@valencia]=Col·loqueu junts els blocs que caiguin
Comment[cs]=Skládat padací bloky dohromady
Comment[cy]=Ffitio blociau sy'n cwympo gyda'i gilydd
Comment[da]=Anbring faldende blokke så de passer sammen
Comment[de]=Fallende Blöcke zusammenfügen
Comment[dz]=འབུད་དེ་འོང་མི་ལེབ་དུམ་ཚུ་ཚུད་སྒྲིག་འབད།
Comment[el]=Ταιριάξτε τα τουβλάκια που πέφτουν
Comment[en_CA]=Fit falling blocks together
Comment[en_GB]=Fit falling blocks together
Comment[en@shaw]=𐑓𐑦𐑑 𐑓𐑷𐑤𐑦𐑙 𐑚𐑤𐑪𐑒𐑕 𐑑𐑫𐑜𐑧𐑞𐑼
Comment[eo]=Adapti falantajn blokojn kune
Comment[es]=Encaje los bloques que se caen
Comment[et]=Langevate klotside omavaheline kokkusobitamine
Comment[eu]=Kokatu erortzen diren blokeak
Comment[fa]=جور کردن بلوک‌های در حال سقوط با یکدیگر
Comment[fi]=Sovita putoavat palikat yhteen
Comment[fr]=Faire correspondre les blocs qui tombent
Comment[fur]=Ingrume i blocs che a colin
Comment[gl]=Encaixe os bloques que caen
Comment[gu]=નીચે પડતા ઘનને જોડે બેસાડો
Comment[he]=סידור לבנים נופלות
Comment[hi]=गिरते पिण्डों को आपस में जमाएँ
Comment[hr]=Posložite zajedno padajuće blokove
Comment[hu]=Lehulló blokkok egymáshoz illesztése
Comment[id]=Jatuhkan blok bersamaan
Comment[is]=Fella fallandi steina saman
Comment[it]=Raggruppa insieme i blocchi che cadono
Comment[ja]=落ちてくるブロックを組み合わせて消し去ってください
Comment[kk]=Құлап бара жатқан блоктарды қиыстыру
Comment[km]=សម falling blocks
Comment[kn]=ಬೀಳುತ್ತಿರುವ ಇಟ್ಟಿಗೆಗಳನ್ನು ಸರಿಯಾಗಿ ಜೋಡಿಸಿ
Comment[ko]=떨어지는 블록을 맞춥니다
Comment[lt]=Priderinkite krentančius blokus vieną prie kito
Comment[lv]=Salieciet krītošos blokus kopā
Comment[mai]=गिरैत पिण्डकेँ आपसमे जमाउ
Comment[mk]=Спојте ги заедно циглите кои паѓаат
Comment[ml]=വീഴുന്ന ബ്ലോക്കുകള്‍ ഒരുമിച്ച് വയ്ക്കുക
Comment[mr]=पडणारे ठोकळे एकत्र बसवा
Comment[ms]=Suai muat blok-blok yang jatuh bergabung bersama-sama
Comment[nb]=Få fallende blokker til å passe sammen
Comment[ne]=सँगैसँगै झर्ने खण्डलाई मिलाउनुहोस्
Comment[nl]=De vallende blokken goed op elkaar stapelen
Comment[nn]=Sett fallande klossar ihop
Comment[oc]=Far correspondre los blòts que tomban
Comment[or]=ୟୋଗ୍ଯ ଏକତ୍ର ପଡୁଥିବା ପଥର
Comment[pa]=ਡਿੱਗਦੇ ਬਲਾਕਾਂ ਨੂੰ ਇੱਕਠੇ ਕਰਕੇ ਫਿੱਟ ਕਰੋ
Comment[pl]=Dopasowywanie spadających klocków
Comment[pt]=Encaixar blocos em queda
Comment[pt_BR]=Encaixe blocos que estão caindo
Comment[ro]=Potrivește blocuri care cad
Comment[ru]=Укладывайте падающие блоки вместе
Comment[sk]=Poukladajte padajúce bloky
Comment[sl]=Zlaganje padajočih blokov
Comment[sq]=Përshtat blloqet që bien bashkë
Comment[sr]=Састављај падајуће блокове
Comment[sr@latin]=Sastavljaj padajuće blokove
Comment[sv]=Passa ihop fallande klossar
Comment[ta]=பொருத்தமான ஒன்றாக விழும் பகுதிகள்
Comment[te]=ఫిట్ ఫాలింగ్ బ్లాక్స్ కలుపుగోలుగా
Comment[th]=เรียงบล็อคที่หล่นให้ต่อกันสนิท
Comment[tr]=Düşen blokları bir araya oturt
Comment[ug]=چۈشۈۋاتقان بۆلەكلەرنى ماسلاشتۇرۇڭ
Comment[uk]=Складання блоків, що падають
Comment[vi]=Khớp khối đang rơi xuống
Comment[xh]=Dibanisa iibhloko eziwayo
Comment[zh_CN]=将下落的方块组合在一起
Comment[zh_HK]=將不同形狀而且不斷跌下的方塊拼合在一起
Comment[zh_TW]=將不同形狀而且不斷跌下的方塊拼合在一起
Comment=Fit falling blocks together
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Quadrapassel
Exec=quadrapassel
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;BlocksGame;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ar]=tetris; تيتريس;
Keywords[be]=тэтрыс;
Keywords[bg]=четрис;тетрис;quadrapassel;tetris;
Keywords[bs]=tetris;
Keywords[ca]=tetris;
Keywords[ca@valencia]=tetris;
Keywords[cs]=tetris;
Keywords[da]=tetris;
Keywords[de]=Tetris;Spiel;Blöcke;
Keywords[el]=tetris;τέτρις;
Keywords[en_GB]=tetris;
Keywords[eo]=tetris;
Keywords[es]=tetris;
Keywords[et]=tetris;
Keywords[eu]=tetris;
Keywords[fa]=tetris;تتریس;
Keywords[fi]=tetris;
Keywords[fr]=tetris;
Keywords[fur]=tetris;
Keywords[gl]=tetris;
Keywords[he]=טטריס;
Keywords[hr]=tetris;
Keywords[hu]=tetris;
Keywords[id]=tetris;
Keywords[it]=tetris;
Keywords[ja]=tetris;テトリス;
Keywords[kk]=tetris;тетрис;
Keywords[km]=tetris;
Keywords[ko]=tetris;테트리스;
Keywords[lt]=tetris;
Keywords[lv]=tetris;
Keywords[ml]=ടെട്രിസ്‌;
Keywords[ms]=tetris;
Keywords[nb]=tetris;
Keywords[nl]=tetris;
Keywords[oc]=tetris;
Keywords[pa]=ਟਟਰਿਸ;
Keywords[pl]=tetris;
Keywords[pt]=tetris;
Keywords[pt_BR]=tetris;
Keywords[ro]=tetris;
Keywords[ru]=тетрис;
Keywords[sk]=tetris;
Keywords[sl]=tetris;kocke;
Keywords[sr]=тетрис;блокови;падање;tetris;
Keywords[sr@latin]=tetris;blokovi;padanje;
Keywords[sv]=tetris;
Keywords[ta]=டெட்ரிஸ்;
Keywords[th]=เททริส;เตตริส;
Keywords[tr]=tetris;
Keywords[ug]=تېترىس;
Keywords[uk]=тетріс;
Keywords[vi]=tetris;
Keywords[zh_CN]=tetris;俄罗斯方块;
Keywords[zh_HK]=tetris;俄羅斯方塊;
Keywords[zh_TW]=tetris;俄羅斯方塊;
Keywords=tetris;
StartupNotify=true

[Desktop Action tirar-dock]
Name=Tirar do Dock
Exec=/usr/local/bin/tarsila-dock-item.sh remove /usr/share/tarsila/games/org.gnome.Quadrapassel.desktop

[Desktop Action desinstalar]
Name=Desinstalar
Exec=/usr/local/bin/tarsila-app-uninstall.sh /usr/share/tarsila/games/org.gnome.Quadrapassel.desktop
